/* <span style="font-family: verdana, geneva, sans-serif;">body{
    background: peru;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

} */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
   
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;

}

.loginbox {
    width: 352px;
    height: 357px;
    background: #e2dfe9;
    color: white;
    margin: 211px auto;
    border-radius:  50px 5px;
}
.logo{

    width: 100px;
    height:100px;
    position: relative;
    top: -70px;
    left: calc(50% - 50px);

}
h1 {
    font-size: 36px;
    text-align: center;
    margin-top: -60px;
    color: #333535;
    font-family: "Ubuntu", sans-serif;
    padding: auto;
}
label{
    font-size: 20px;
    display: block;
    margin-left: 20px;
    color:black;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
}

input{

    width: 80%;
    margin: 0 0 20px 20px;
}

input[type="text"],input[type="password"]{
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    height: 40px;
    outline: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
}

input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    border-radius: 20px;
    background: #fb2525;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;

}
.link a:hover{
    color:  rgb(37, 184, 184);
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;

}
a {
    font-size: 20px;
    text-decoration: none;
    color: #020d27;
    margin-left: 8%;
}

input[type="submit"]:hover{
    background: blueviolet;
}

/* </span> */